<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=rheaxu;User ID=rheaxu;PWD=qGF8FeUu;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="rheaxuEntities" connectionString="metadata=res://*/app_code.Model.csdl|res://*/app_code.Model.ssdl|res://*/app_code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=rheaxu;persist security info=True;user id=rheaxu;password=qGF8FeUu;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
  <add name="rheaxuCS" connectionString="Data Source=127.0.0.1;Initial Catalog=rheaxu;UID=rheaxu;PWD=qGF8FeUu;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="pubsCS" connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=rheaxu;PWD=qGF8FeUu;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="NorthwindCS" connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=rheaxu;PWD=qGF8FeUu;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=rheaxu;PWD=qGF8FeUu;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=rheaxu;PWD=qGF8FeUu;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
