.body {
    background-color:lightyellow;
}

#headimage {
    margin: 5px 5px 5px 5px;
    border: 2px dashed red;
    border-radius:0px 0px;
    float: right;
    width: 20%;
    height: 10%;
}

@media screen and (max-width: 320px) {
    .body {
        background-color:black;
        color: white;
    }
    #headimage {
        display:none;
    }
}


@media screen and (max-width: 768px) {
    .body {
        background-color:lavender;
        color: black;
    }
    #headimage {
        border: 1px dashed black;
        border-radius:10px 10px;
        float:none;
    }
}

@media screen and (max-width: 1024px) {
    .body {
        background-color:mediumturquoise;
        color: orange;
    }
    #headimage {
        border: 1px solid orange;
        border-radius:15px 15px;
    }
}

@media screen and (max-width: 1600px) {
    .body {
        background-color:skyblue;
        color: red;
    }
    #headimage {
        border: 2px dashed black;
        border-radius:20px 20px;
    }
}