body {
  padding: 20px;
  font-family: 'OFL Sorts Mill Goudy TT', Arial, sans-serif;
  font-size: 16px;
  color: #554;
  height: 80%;
  background-color:mistyrose;
  margin: 0px;
}

a.emphasis {
  color: green;
  text-decoration: none;
  border-bottom: solid 2px green;
}

div.search-box {
    font-size:12px;
}

b { color: green }

h1 {
  font-family: 'Tangerine', 'OFL Sorts Mill Goudy TT', Arial, sans-serif;
  font-size: 84px;
  text-shadow: 4px 4px 4px #aaa;
}

h1 { margin: 0px; }

div.vex {
  color: #ccc;
  position: absolute;
  font-family: 'Yanone Kaffeesatz', courier;
  top: 0px;
  right: 0px;
  background: #eee;
  padding: 5px 5px 8px 10px;
  border-bottom: solid 3px #ccc;
  border-left: solid 3px #ccc;
}

div.vex a { color: green; text-decoration: none; border: none; }
div.vex a:hover { border-bottom: 5px solid #ccc; }

div.header {
  text-align: center;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

div.content {
  padding: 20px;
  padding-left: 2%;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
}

div.code {
  background: #cfc;
  border: 10px solid #afa;
  font-family: Courier;
  font-size: 12px;
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

label.error {
    color:red;
}

ul.cfl-menu {
  width: 300px;
  height: 500px;
  display:inline;
}

ul.cfl-menu a {
  width : 160px;
  height : auto;
  padding : 6px 30px 5px;
  border:1px solid black;
  margin-bottom : 4px;
  font-weight : bold;
  font-family:'Comic Sans MS';
  color : #fff;
  text-align : left;
  text-transform : uppercase;
  cursor : pointer; /* needed for opera due to .on styling */ 
  background : #669933 url(images/cfl_link.gif);
}

ul.cfl-menu li {
  margin:18px 20px 18px 20px;
  display:inline-block;
}

code { font-family: Courier; font-size: 14px; color: green; }

table.tabstave-keywords { font-family:monospace; margin:20px;}
table.tabstave-keywords td {padding-right:30px;}
